<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
  <div class="container-fluid">
    <div class="row">
        <h1>Please select one of these</h1>
    </div>
    <div class="row">
      <div class="col-xs-6"><button type = "button" class = "btn btn-primary btn-block" ng-click="switch=1" data-dismiss="modal">I am a teacher</button></div>
      <div class="col-xs-6"><button type = "button" class = "btn btn-primary btn-block" ng-click="switch=2" data-dismiss="modal">I am a student</button></div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>